.chestbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 2vh 2vw;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.chestbox-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.chestbox img {
    height: 15vh;
}
.chestbox-content-created {
    margin-right: 2em;
}
