.inventory {
    display: flex;
    flex-direction: column;
    height: 25vh;
    flex-wrap: wrap;
    font-size: 0.60em;
    overflow-y: hidden;
    overflow-x: scroll;
}
.inventory div {
    margin: 0.25em;
}
